{% load static %}

<nav class="navbar fixed-top navbar-expand-md navbar-dark" id="myNav">
  <a class="navbar-brand" href="#">
  	
  	<img style="height:60px; width:80px;" src="{% static "img/logo.png" %}">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    	{% for link, name in link %}
	    	<li class="nav-item">
	    		<a class="nav-link text-danger" style="font-weight: bold; font-size:20px; margin-right:30px" href="{{link}}">{{name}}</a>
	    	</li>
    	{% endfor %}
    </ul>
  </div>
</nav>