body{
	background: url('../img/bg1.jpg');
	background-position: 100%;
	position: all;
}

img{
	width: 100%;
	height: 120px;
}

ul{
	background-color: #f72;
	/*margin: 10px;*/
	text-align: center;
	padding: 10px 37%;
	overflow: hidden;
	list-style-type: none;
}

li{
	float: left;
	padding-left: 40px;
}
a{
	padding: 10px;
	/*margin: 10px;*/
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}

a:hover{
	background-color: #0f3;
}