body{
	background: url('../img/bg1.jpg');
	background-position: 100%;
	background-size: cover;
	position: all;
}

.jumbotron{
	background-image: url('../img/Banner_Next.jpg');
	background-size: cover;
	background-position: center;
	height: 600px;
}