{% extends "base.html" %}
{% load static %}

{% block app_css %}
	<link rel="stylesheet" type="text/css" href="{% static "home/css/stylesHome.css" %}">
{% endblock app_css %}

{% block header %}
	<div class="container text-center">
	    <h1 style="margin-top:50px;" class="display-5">{{judul}}</h1>
	    <p class="lead">{{Subjudul}}</p>
	</div>
{% endblock header %}

{% block blok_1 %}
	<div class="row" style="height:300px;">
		
			<h1>{{ contain1 }}</h1>
		
	</div>
{% endblock blok_1 %}

{% block blok_2 %}
	<div class="row" style="height:300px;">
		
			<h1>{{contain2}}</h1>
		
	</div>
{% endblock blok_2 %}